<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<style type="text/css">
	html, body {
	    margin:0;
	    padding:0;
	    width:100%;
	    font-family: monospace;
	}

	#input_chat input {
	    position: fixed;
	    bottom: 0px;
	    right: 0px;
        width: 80%;
	    padding-left: 10px;
	    border: 0;
	    border-bottom: solid 1px #555;
        height: 120px;
	    font-size: 14px;
	    background: rgba(255,255,255,0.9);
	    font-family: monospace;
	    box-shadow: 2px 0px 5px #BBB;
	}



	#chat {
	    margin-top: 30px;
	    padding-left: 10px;
	}

	#chats{
	    width: 200px;
	    padding: 0px 0px 0px 40px;
	}

	#chats li {
	    height: 40px;
	}

	#chat_users{
	    width: 200px;
	}

	#chat_users li{
	    height: 40px;
	}

	#all_users{
	    width: 200px;
	}

	#all_users li{
	    height: 40px;
	}

	ul{
	    list-style: none;
	}

	li :hover{
	    border: 2px solid #000000;
	}

	</style>

    <script type="text/javascript">
        var socket = null;
        var $text = null;
        var $chat = null;

        function addRoom(){
    	    var chat_name = prompt('chat:', '').substr(0, 20);
    	    $.post('add/', { name: chat_name }, function(data, status){
    	        if (status == 'success'){
    	            var $chats = $('#chats');
    	            $chats.append('<li onclick="viewChatUsers('+ data.pk +')">'+ data.name + '</li>');
    	        }
    	        else{
    	            alert('Ошибка, возможно такой чат уже существует');
    	        }
    	    });
    	}

    	function renderMessage(data) {
            $chat.prepend('<div>' +
                          '<span class="user_part_message">' + data.user + ':</span>' +
                          '<span class="data_part_message">' + data.message + '</span>' +
                          '</div>');
        }

        function sendToServer(data)
        {
            socket.send(data);
        }

        function clearContainer(idName){
            var myNode = document.getElementById(idName);
            while (myNode.firstChild) {
               myNode.removeChild(myNode.firstChild);
            }
        }

        function addUser(chatPk, userPk)
        {
            $.post('users/chat/'+ chatPk + '/add/'+userPk+'/', function(data, status){
                if (status == 'success'){
                    viewChatUsers(chatPk);
    	        }
    	        else{
    	            alert('Ошибка');
    	        }
    	    });
        }

        function setAdminUser(chatPk, userPk)
        {
            $.post('users/chat/'+ chatPk + '/add/admin/'+userPk+'/', function(data, status){
                if (status == 'success'){
                    viewChatUsers(chatPk);
    	        }
    	        else{
    	            alert('Ошибка');
    	        }
    	    });
        }

        function removeAdminUser(chatPk, userPk)
        {
            $.post('users/chat/'+ chatPk + '/remove/admin/'+userPk+'/', function(data, status){
                if (status == 'success'){
                    viewChatUsers(chatPk);
    	        }
    	        else{
    	            alert('Ошибка');
    	        }
    	    });
        }

        function removeUser(chatPk, userPk)
        {
            $.post('users/chat/'+ chatPk + '/remove/'+userPk+'/', function(data, status){
    	        if (status == 'success'){
                    viewChatUsers(chatPk);
    	        }
    	        else{
    	            alert('Ошибка: '+data);
    	        }
    	    });
        }

    	function viewChatUsers(chatPk){
    	    clearContainer("chat_users");
    	    clearContainer("all_users");
    	    clearContainer("chat");

    	    $('#input_chat').show();
            var self_admin = false;
            $.get('self/chat/' + chatPk + '/', function(data){
                self_admin = data.is_admin
            });

    	    $.get('users/' + chatPk + '/', function(data){
                var $chat_users = $('#chat_users');
    	        data.forEach(function(item, i, arr){
    	            var admin_mark = '<td></td>';
    	            if (self_admin){
                        if (!item.is_admin ){
                            admin_mark = '<td onclick="setAdminUser('+chatPk+', '+item.pk+')"> * </td>';
                        }
                        else{
                            admin_mark = '<td onclick="removeAdminUser('+chatPk+', '+item.pk+')"> A </td>';
                        }
                    }
    	            $chat_users.prepend('<li><table><tr><td>' + escape(item.name, 1000) + '</td><td onclick="removeUser('+chatPk+', '+item.pk+')"> - </td>'
    	            + admin_mark +
    	            '</tr></table></li>');
    	        });
    	    });

    	    $.get('users/all/' + chatPk + '/', function(data){
                var $all_users = $('#all_users');
    	        data.forEach(function(item, i, arr){
    	            $all_users.prepend('<li><table><tr><td>' + escape(item.name, 1000) + '</td><td onclick="addUser('+chatPk+', '+item.pk+')"> + </td></tr></table></li>');
    	        });
    	    });

    	    $.get('messages/' + chatPk + '/', function(data){
    	        data.forEach(function(item, i, arr){
    	            renderMessage(item);
    	            /*$chat.prepend('<div>' +
                          '<span class="user_part_message">' + escape(item.user, 1000) + ':</span>' +
                          '<span class="data_part_message">' + escape(item.message, 1000) + '</span>' +
                          '</div>');*/
    	            /*$chat.prepend('<li>' + escape(item.message, 1000) + '</li>');*/
    	        });
    	    });

    	    var host = 'ws://{{ host }}/room/message/'+chatPk+'/';

            if (socket != null){
                socket.close();
            }

	        socket = new WebSocket(host);

            socket.onopen = function() {
                //alert("Соединение установлено.");
            };

            socket.onclose = function(event) {
                if (event.wasClean) {
                    //alert('Соединение закрыто чисто');
                } else {
                    alert('Обрыв соединения'); // например, "убит" процесс сервера
                }
                //alert('Код: ' + event.code + ' причина: ' + event.reason);
            };


            socket.onmessage = function(event) {
                alert("Получены данные " + event.data);
                renderMessage(JSON.parse(event.data));
            };

            socket.onerror = function(error) {
                alert("Ошибка " + error.message);
            };

	        function escape(str, length) {
	            return str.substr(0, length || -1).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
	        }


    	}
    </script>

    <table width="20% 20% 60%">
        <tr>
            <td>
                <div>
                    <ul id="chats">
                    {% for room in rooms %}
                        <li onclick="viewChatUsers({{ room.pk }})">{{ room.name }}</li>
                    {% endfor %}
                    </ul>
                    <input type="button" value="add chat" onclick="addRoom()">
                </div>
            </td>
            <td>
                <ul id="chat_users">

                </ul>

                <ul id="all_users">

                </ul>
            </td>
            <td>
                <div id="chat">Основное окно</div>
                <div id="input_chat"><input type="text" id="input_message"  class="chat_input_hidden"/></div>
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="http://yandex.st/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
          $text = $('#input_message');
          $chat = $('#chat');

          $('#input_chat').hide();

            $text.keyup(function (event) {
                var message = $text.val().substr(0, 1000);
                if (event.which === 13 && message) {
                    sendToServer(JSON.stringify({"message": message}));
                   $text.val('');
                }
            });
        });
	    /*setTimeout(function () { // Ставлю именно таймаут, а не $.ready иначе у вебкитов будет бесконечная загрузка
	        var $text = $('input');
	        var $chat = $('#chat');

	        var host = 'ws://{{ host }}/room/message/1';

	        var socket = new WebSocket(host);

            socket.onopen = function() {
                alert("Соединение установлено.");
            };

            socket.onclose = function(event) {
                if (event.wasClean) {
                    alert('Соединение закрыто чисто');
                } else {
                    alert('Обрыв соединения'); // например, "убит" процесс сервера
                }
                alert('Код: ' + event.code + ' причина: ' + event.reason);
            };

            function renderMessage(data) {
	            $chat.prepend('<div class="human">' +
	                          '<span>' + escape(data, 1000) + '</span>' +
	                          '</div>');
	        }

            socket.onmessage = function(event) {
                // alert("Получены данные " + event.data);
                renderMessage(JSON.parse(event.data)["message"]);
            };

            socket.onerror = function(error) {
                alert("Ошибка " + error.message);
            };

	        function escape(str, length) {
	            return str.substr(0, length || -1).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
	        }

            $text.keyup(function (event) {
	            var message = $text.val().substr(0, 1000);
            	if (event.which === 13 && message) {
	               socket.send(JSON.stringify({"message": message}));
            	   $text.val('');
	            }
	        });
    	}, 50);*/
    	$( document ).ready( function()
    	 {

    	 });

	</script>
</body>
</html>